<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocbc.les.modules.system.mapper.OrgInfoMapper">

    <resultMap id="BaseResultMap" type="com.ocbc.les.modules.system.entity.OrgInfo">
            <id property="orgId" column="org_id" />
            <result property="orgKey" column="org_key" />
            <result property="orgNameZh" column="org_name_zh" />
            <result property="orgNameEn" column="org_name_en" />
            <result property="parentId" column="parent_id" />
            <result property="orgType" column="org_type" />
            <result property="orgSort" column="org_sort" />
            <result property="status" column="status" />
            <result property="delFlag" column="del_flag" />
            <result property="createBy" column="create_by" />
            <result property="createOrgId" column="create_org_id" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateOrgId" column="update_org_id" />
            <result property="updateTime" column="update_time" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        org_id,org_key,org_name_zh,org_name_en,parent_id,org_type,
        org_sort,status,del_flag,create_by,create_org_id,
        create_time,update_by,update_org_id,update_time,remark
    </sql>
</mapper>
